.contact-container{
    height: 100vh;
}

.contact-content {
    padding-top: 140px;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    display: block;
}

.contact-content h1 {
    font-size: calc(40px + 1vw);
    color: #4B2E39;
    text-decoration: underline;
    margin-bottom: 30px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.contact-map {
    height: 400px;
    width: 60%;
}

.contact-address {
    font-size: calc(15px + 1vw);
    width: 40%;
}

.email-link {
    color: #4B2E39;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    text-decoration: underline;
}