.main-content {
    padding-top: 140px;
    text-align: center;
    background-color: whitesmoke;
    display: block;
}

.main-content h1 {
    font-size: calc(40px + 1vw);
    color: #4B2E39;
    text-decoration: underline;
}

.breed-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3rem;
    padding: 5rem;
    margin-top: -60px;
}

.breed-item {
    border-radius: 5px;
    border: 2px solid #4B2E39;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1vw);
    transition-duration: 0.4s;
    cursor: pointer;
}

.breed-item:hover {
    background-color: #4B2E39;
    color: white;
    transform: scale(1.1);
}